<div class="header row">
  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
  <<h1>
    Heroes
  </h1>
  <button mat-button class="add-hero-button" routerLink="/add-hero" routerLinkActive="active"><i class="fa fa-plus"></i></button>
</div>
</div>
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
<ul class="heroes_list">
  <li *ngFor="let hero of heroesList" [routerLink]="'/hero-information/' + hero.id">
    <img class="hero_img" [src]=" '../assets/images/' + hero.image "/>
    <h2> {{hero.firstName}} {{hero.lastName}}</h2>
  </li>
</ul>
</div>